spring:
  datasource:
    username: root
    password: AmRI3@n2
    url: jdbc:mysql://47.101.200.22:3306/gulimall_pms
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

  application:
    name: gulimall-product

# mybatis-plus相关配置
mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  global-config:
    db-config:
      id-type: auto             # 主键自增，插入到数据库的数据的id是默认自增的
      logic-delete-value: 1
      logic-not-delete-value: 0

server:
  port: 10000

logging:
  level:
    com.atguigu.gulimall: debug
